* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  padding: 2% 8%;
  background-color: rgba(13, 8, 43);
  color: rgb(255, 244, 234);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  place-items: center;
  padding: 15px;
  border-radius: 5px;
  height: fit-content;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

/* CSS Code */
/* Heading */
h1 {
  color: rgb(189, 135, 16);
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
}

/* 3*3 Grid */
#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 80px;
  height: 53px;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  border: 2px solid #ccc;
  background-color: transparent;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.399);
  color: rgb(255, 255, 255);
  outline: none;
}

/* Reset Button */
#but {
  box-sizing: border-box;
  width: 150px;
  height: 70px;
  padding: 1rem 1.5em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  font-family: serif;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

/* Player turn space */
#print {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* Main Container */
#main {
  text-align: center;
}
