*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(59, 33, 8);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

main {
  padding: 2% 8%;
  background-color: rgba(0, 0, 0, 0.749);
  width: 100%;
  position: relative;
  transition: 0.85s ease-in-out;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.sub-boxes > h1 {
  font-size: 2.5rem;
  color: rgb(254, 254, 185);
  margin-bottom: 25px;
}

.sub-boxes > p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: rgb(159, 156, 156);
  opacity: 1;
  padding: 0px 55px;
  width: 100%;
  visibility: hidden;
}